# This is a list of MAC addresses allowed on the network; MACs not in this list will be flagged as hostile
# This is only used if the Unauthorized MAC classification engine is enabled

# MAC addresses should be placed below with newlines between entries. Each MAC should be padded so octets are 2 hex digits long.

#78:45:c4:26:89:4a
#00:1e:4f:e5:cb:59

