create default
set default default tcp action block
set default default udp action block
set default default icmp action block
set default ethernet "Dell"
set default droprate in 0

create BSDServer
set BSDServer default tcp action reset
set BSDServer default udp action block
set BSDServer default icmp action block
set BSDServer personality "Linux 2.6.11 - 2.6.20"
set BSDServer ethernet "Dell"
set BSDServer uptime 1326346
set BSDServer droprate in 0
add BSDServer tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
add BSDServer udp port 135 open
add BSDServer udp port 137 open
add BSDServer tcp port 137 open
add BSDServer tcp port 139 open

create LinuxServer
set LinuxServer default tcp action reset
set LinuxServer default udp action block
set LinuxServer default icmp action block
set LinuxServer personality "Linux 2.6.11 - 2.6.20"
set LinuxServer ethernet "Dell"
set LinuxServer uptime 1324350
set LinuxServer droprate in 0
add LinuxServer tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add LinuxServer udp port 135 open
add LinuxServer tcp port 137 open
add LinuxServer udp port 137 open
add LinuxServer tcp port 139 open

create Doppelganger
set Doppelganger default tcp action reset
set Doppelganger default udp action block
set Doppelganger default icmp action block
set Doppelganger personality "Microsoft Windows 7"
set Doppelganger ethernet "Intel"
set Doppelganger uptime 1327650
set Doppelganger droprate in 0
add Doppelganger tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
add Doppelganger tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add Doppelganger udp port 135 open
add Doppelganger tcp port 137 open
add Doppelganger udp port 137 open
add Doppelganger tcp port 139 open

create WinServer
set WinServer default tcp action reset
set WinServer default udp action block
set WinServer default icmp action block
set WinServer personality "Microsoft Windows 7"
set WinServer ethernet "Dell"
set WinServer uptime 1546550
set WinServer droprate in 0
add WinServer tcp port 20 open
add WinServer tcp port 21 "sh /usr/share/honeyd/scripts/win32/win2k/msftp.sh"
add WinServer tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
add WinServer tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add WinServer udp port 135 open
add WinServer tcp port 137 open
add WinServer udp port 137 open
add WinServer tcp port 139 open

dhcp WinServer on eth0 ethernet "00:1d:09:0f:88:1f"

create DoppelgangerReservedTemplate
set DoppelgangerReservedTemplate default tcp action reset
set DoppelgangerReservedTemplate default udp action block
set DoppelgangerReservedTemplate default icmp action block
set DoppelgangerReservedTemplate personality "Microsoft Windows 7"
set DoppelgangerReservedTemplate uptime 1327650
set DoppelgangerReservedTemplate droprate in 0
add DoppelgangerReservedTemplate tcp port 23 "perl /usr/share/honeyd/scripts/embedded/router-telnet.pl"
add DoppelgangerReservedTemplate tcp port 80 "bash /usr/share/honeyd/scripts/win32/web.sh"
add DoppelgangerReservedTemplate udp port 135 open
add DoppelgangerReservedTemplate tcp port 137 open
add DoppelgangerReservedTemplate udp port 137 open
add DoppelgangerReservedTemplate tcp port 139 open

bind 10.0.0.1 DoppelgangerReservedTemplate

dhcp BSDServer on eth0 ethernet "00:23:ae:70:93:8c"
dhcp LinuxServer on eth0 ethernet "00:1c:23:84:ea:66"

