include mixins/headers.jade

extends layout

block headerAdditions
  script.
    var viewModel = {};
    viewModel.IPs = JSON.parse('!{authorizedIPs}');

    function init() {
      ko.applyBindings(viewModel);
    }

block content
  +headerWithHelp("Authorized IP Addresses", "authorizedIPs")
    form(action="/editAuthorizedIPs", method="post",  enctype="multipart/form-data")
      span File should contain newline seperated list of authorized IPs. Lines beginning with "#" are comments and will be ignored.
      br
      input(type="file", name="IPs")
      br
      input(type="submit", value="Submit new authorized IP list ")
    br
    br
    span(data-bind="visible: IPs.length != 0") Currently authorized IP addresses
    span(data-bind="visible: IPs.length == 0") There are currently no authorized IP addresses.
    table(style="border-collapse: collapse;")
      tbody(data-bind="foreach: IPs")
        tr
          td(data-bind="text: $data", style="border: 1px solid black")
        
    

