//- ============================================================================
//-  Copyright   : DataSoft Corporation 2011-2013
//-  Nova is free software: you can redistribute it and/or modify
//-   it under the terms of the GNU General Public License as published by
//-   the Free Software Foundation, either version 3 of the License, or
//-   (at your option) any later version.
//-
//-   Nova is distributed in the hope that it will be useful,
//-   but WITHOUT ANY WARRANTY; without even the implied warranty of
//-   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-   GNU General Public License for more details.
//-
//-   You should have received a copy of the GNU General Public License
//-   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
//- ============================================================================

include mixins/headers.jade

extends layout

block headerAdditions
  link(rel='stylesheet', name='text/css', href='configstyle.css', media='screen')


block content
  +header("Basic Configuration Options") 
    form#basicConfigForm(method='post', action='/configureNovaSave')
      input(type="hidden", value="/basicOptions", name="ERROR_REDIRECT")
      include includes/basicConfigForm

    br
    button(onClick='document.getElementById("basicConfigForm").submit()')
      img.buttonIcon(src='images/ok.png')
      span.buttonSpan Save Changes
  
    br
    a(href="/advancedOptions")
      button
        img.buttonIcon(src='images/edit.png')
        span.buttonSpan Configure Advanced Settings 
