//- ============================================================================
//-  Copyright   : DataSoft Corporation 2011-2013
//-  Nova is free software: you can redistribute it and/or modify
//-   it under the terms of the GNU General Public License as published by
//-   the Free Software Foundation, either version 3 of the License, or
//-   (at your option) any later version.
//-
//-   Nova is distributed in the hope that it will be useful,
//-   but WITHOUT ANY WARRANTY; without even the implied warranty of
//-   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-   GNU General Public License for more details.
//-
//-   You should have received a copy of the GNU General Public License
//-   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
//- ============================================================================

include mixins/headers.jade

extends layout

block content
  script.
    function init() 
    {
        $('#yes').click(shutdown);
    }

    function shutdown()
    {
      now.shutdownQuasar();
      $('#check').hide();
      $('#shuttingdown').show();
      
      setTimeout(function()
      {
        window.location = '/';
      }, 4000);
    }

  +header("Are you sure?")#check
    p Are you sure you want to shutdown Quasar? It will only be restarted if you're running it under upstart or forever.
    button.button#yes
      img.buttonIcon(src='images/ok.png')
      spam.buttonSpan Yes

    a.button(href='/advancedOptions')
      img.buttonIcon(src='images/cancel.png')
      spam.buttonSpan No
  
  +header("Shutting down...")#shuttingdown(style="display: none")
    p Shutting down Quasar... Please wait.


